
@import url("https://unpkg.com/leaflet@1.9.2/dist/leaflet.css");

:root {
    --dark: #16191C;
    --dark-x: #1E2126; 
    --light: #ffffff;
}

  
body {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
    
}


.text-light { color: var(--light) !important; }
.bg-dark { background-color: var(--dark) !important; }
.bg-dark-x { background-color: var(--dark-x); }